process {

  // Ignore frag length histogram failures
  withName: /.*FRAG_LEN_HIST.*/ {
    errorStrategy = 'ignore'
  }

  // Increase memory for the combined gene heatmap
  withName: /.*DEEPTOOLS_PLOTHEATMAP_GENE_ALL.*/ {
    memory = '64 GB'     // adjust as needed
    // cpus = 4          // optional
    // time = '8h'       // optional
  }
}