process {
    withName: 'NFCORE_HIC:HIC:HICPRO:HICPRO_MAPPING:TRIM_READS' {
        clusterOptions = '--gres=lscratch:200'
    }

    withName: 'NFCORE_HIC:HIC:HICPRO:HICPRO_MAPPING:BOWTIE2_ALIGN' {
        time = '36h'
    }

    withName: 'NFCORE_HIC:HIC:HICPRO:MERGE_VALID_INTERACTION' {
    clusterOptions = '--gres=lscratch:200'
    }
}
